<%= link_to "Logout", user_session_destroy_path %>
<%= link_to "Update", '/auth/idnet'%>

<div>
  UID: <%= @user.uid %>
</div>
<div>
  <%= @user.nickname %>
</div>
<div>
  <%= @user.first_name %>
</div>
<div>
  <%= @user.last_name %>
</div>

