<!DOCTYPE html>
<html>
<head>
  <title>IdnetRails3Example</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://server.id.heliostech.hk/api/popup.js" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
